<div class="container mt-5">
    <h1 class="display-4 mb-4">{{tour.heading}}</h1>
    <!-- <img src="{{tour.image}}" class="img-fluid" alt="{{tour.name}}"> -->
    </div>
    <div id="tourtext"class="container mt-2">
        <p class="text-justify p-4"> {{tour.text}}</p>
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{tour.quote}}</p>
            <footer class="blockquote-footer">{{tour.place}} <cite title="Source Title">{{tour.date}}</cite><cite title="Source Title">{{tour.time}}</cite></footer>
          </blockquote>
    <div class="p-4">
    <div>
        Comments:
    </div>
    <textarea name="" id="" cols="150" rows="5"></textarea>
    
    <button (click)="addToCart(tour)">Buy</button>
    </div>
    </div>
    
    
    
    