
<h3>Your Cart</h3>
<h4 id="total"></h4>
<h4 id="discount"></h4>

<div  class="container row">
<div class="card col-3" style="width: 18rem;"*ngFor="let item of items">
    <img class="card-img-top mt-2" src="{{item.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.heading}}</h5>
      <p class="card-text">{{item.shorttext}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: {{item.date}}</li>
      <li class="list-group-item">Duration: {{item.duration}}</li>
      <li class="list-group-item">Price: {{item.price}} €</li>
    </ul>
  </div>
</div>
