<!--main Container-->
<div class="container">
  <h3>Your Cart</h3>
  <h4 id="total"></h4>
  <!--h4 for displaying total amount -->
  <h4 id="discount"></h4>
  <!--h4 for displaying discount -->

  <!--formGroup starts here -->
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          id="address"
          formControlName="address"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-2 mb-2">Purchase</button>
  </form>
  <!-- Container for displaying items Array  -->
  <div class="container row">
    <!-- loop for all items in array  -->
    <div class="card col-3 m-2" style="width: 18rem" *ngFor="let item of items">
      <img
        class="card-img-top mt-2"
        src="{{ item.image }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.heading }}</h5>
        <p class="card-text">{{ item.shorttext }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Date: {{ item.date }}</li>
        <li class="list-group-item">Duration: {{ item.duration }}</li>
        <li class="list-group-item">Price: {{ item.price }} €</li>
      </ul>
    </div>
  </div>
</div>
