<div class="container mt-5">
    <h1 class="display-4 mb-4">{{blog.heading}}</h1>
    <img src="{{blog.image}}" class="img-fluid" alt="{{blog.name}}">
    </div>
    <div id="blogtext"class="container mt-2">
        <p class="text-justify p-4"> {{blog.text}}</p>
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{blog.quote}}</p>
          </blockquote>
    <div class="p-4">
    <div>
        Comments:
    </div>
    <textarea name="" id="" cols="150" rows="5"></textarea>
    
    <button type="button" class="btn btn-primary mt-2">Comment</button>
    </div>
    </div>
    
    